.background-pane {
    -fx-background-color: #3F2A29;
}

.selected-navigation-button {
    -fx-background-color: #3F2A29;
    -fx-background-radius: 0;
    -fx-text-fill: #FFF1DA;
}

.unselected-navigation-button {
    -fx-background-color: #261D1E;
    -fx-background-radius: 0;
    -fx-text-fill: #C6B7A0;
}

.unselected-navigation-button:hover {
    -fx-background-color: #332424;
}

.image-view-wrapper {
    -fx-background-radius: 2;
    -fx-border-color: #C9A15C;
}

.image-view-label {
    -fx-text-fill: #FFF1DA;
}